@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #253C59;
    --secondary-color: #5D7A8C;
    --tertiary-color: #99B4BF;
    --white: #ffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--tertiary-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 3fr;
    gap: 1rem;
    padding: 1.5rem;
    width: 18rem;
    height: 25rem;
    background-color: var(--primary-color);
}

.calculator_display {
    background-color: var(--white);
    font-size: 24pt;
    text-align: end;
}

.calculator_keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.is-depressed {
    background-color: lightgray;
}

.key--equal {
    grid-area: 2 / 4;
    grid-row-end: span 4;
    background-color: orangered;
}